* {
    margin: 0;
    padding: 0;
}

.first {
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
    color: azure;
}
.second {
    background-color: darkgrey;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}